In [1]:
var = "name"
print(var)

name

In [1]:
var = "name"
print(var)

name

In [1]:
for i in range (1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

range(5)  0 1 2 3 4
raange(6) 0 1 2 3 4 5
range(10,14) 10 11 12 13
range(2,6) 2 3 4 5 
range(1,10,2) 1 3 5 7 9

In [2]:
for i in range(0,15,5):
    print(i)

0
5
10

In [3]:
for i in range (10,0,-2):
    print(i)

10
8
6
4
2

write a program to print all even numbers between 100 to 200 ?

In [4]:
for i in range (100,201,2):
    print(i)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [7]:
colors=['red','blue','green']
print (colors)

['red', 'blue', 'green']

In [9]:
# formated output
for colors in colors :
    print (colors)

red
blue
green

write the program to print all the od  numbers from 1 to 100 ?

In [11]:
for i in range (1,100,2):
    print (i,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [1]:

a = input("Enter the first number: ")
b = input("Enter the second number: ")

print("\nBefore swapping:")
print("a =", a)
print("b =", b)

# Swapping values
a, b = b, a

print("\nAfter swapping:")
print("a =", a)
print("b =", b)

Before swapping:
a = 22
b = 43

After swapping:
a = 43
b = 22

In [18]:
for i in range(1,11):
     if i %2== 0:
         print (i)

2
4
6
8
10

In [19]:
for i in range(1,11):
    if i %2!=0:
        print(i)

1
3
5
7
9

In [27]:
nums=[1,5,11,3,12,15]
for i in nums:
    if  i % 2==0:
        s=i**2
        print(s)
    else:
        print("odd number")

odd number
odd number
odd number
odd number
144
odd number

display cubes of odd nuber ?

In [28]:
nums=[1,3,5,7,9]
for i in nums:
    if i % 2!=0:
        m=i**3
        print(m)
    else:
        print("odd number")

1
27
125
343
729

calculate the area of circles 
whose radius is given in list

In [45]:
radius=[3,5,6,11,10]
for r in radius:
    area =3.14*r**2
    print (f"the area for {r} is {area}")

the area for 3 is 28.26
the area for 5 is 78.5
the area for 6 is 113.04
the area for 11 is 379.94
the area for 10 is 314.0

In [48]:
videogames=['free fire ','call of duty','pubg','candy crush','class royale ','class of clans','cricket','caall of duty warzone ']
for name in videogames:
    if name.startswith('c'):
        print(name)

call of duty
candy crush
class royale
class of clans
cricket
caall of duty warzone

In [2]:
total=0
for num in range (10,21):
    total=total+num
    print(total)

10
21
33
46
60
75
91
108
126
145
165

In [5]:
total=1
for num in range (10,21):
    total=total*num
    print(total)

10
110
1320
17160
240240
3603600
57657600
980179200
17643225600
335221286400
6704425728000

In [9]:
nums=[5,11,2,53,10,33]
m=0
for num in nums:
    if num>m:
     m=num
print(m)

53

In [12]:
count=0
nums=[25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
for num in nums:
    if num % 3 == 0:
        count=count+1
print(f"total count{count}")

total count8

In [5]:
movies=["Harry Potter 1","Harry Potter 2","Harry Potter 3","Harry Potter 4","Harry Potter 5","Harry Potter 6","Harry Potter 7","Harry Potter 8","Fastand Furious 1","Fastand Furious 2","Fastand Furious 3","Fastand Furious 4"]
movies_with_h= 0
for movie in movies:
    if movie.startswith("H") or movie.startswith("h"):
        movies_with_h +=1
print("count",movies_with_h)

count 8

In [8]:
#factorial
num =8
fact = 1
for i in range(num,0,-1):
    print(f'{i}*{fact}')
    fact=fact*i
print(fact)

8*1
7*8
6*56
5*336
4*1680
3*6720
2*20160
1*40320
40320

### NESTED LOOP
for loop:
    for loop:
        for loop:

In [12]:
for i in range(1,11):
    for j in range(1,6):
        print(f"i = {i},j = {j}")

i = 1,j = 1
i = 1,j = 2
i = 1,j = 3
i = 1,j = 4
i = 1,j = 5
i = 2,j = 1
i = 2,j = 2
i = 2,j = 3
i = 2,j = 4
i = 2,j = 5
i = 3,j = 1
i = 3,j = 2
i = 3,j = 3
i = 3,j = 4
i = 3,j = 5
i = 4,j = 1
i = 4,j = 2
i = 4,j = 3
i = 4,j = 4
i = 4,j = 5
i = 5,j = 1
i = 5,j = 2
i = 5,j = 3
i = 5,j = 4
i = 5,j = 5
i = 6,j = 1
i = 6,j = 2
i = 6,j = 3
i = 6,j = 4
i = 6,j = 5
i = 7,j = 1
i = 7,j = 2
i = 7,j = 3
i = 7,j = 4
i = 7,j = 5
i = 8,j = 1
i = 8,j = 2
i = 8,j = 3
i = 8,j = 4
i = 8,j = 5
i = 9,j = 1
i = 9,j = 2
i = 9,j = 3
i = 9,j = 4
i = 9,j = 5
i = 10,j = 1
i = 10,j = 2
i = 10,j = 3
i = 10,j = 4
i = 10,j = 5

In [15]:
n = 6
for i in range(1,n):
    for j in range (1,n):
        print(i , end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
n = 6
for i in range(1,n):
    for j in range (1,n):
        print(j,end='')                                      # dont change line till inner loop
    print()                                                  # changeline for the outer loop

12345
12345
12345
12345
12345

### jump statement
-continue->to skip Step
-break-> to stop the Loop 
  
  always used with a condition inside the loop

In [16]:
for i in range (1,25):
    if i%3==0:
        continue
    print(i , end=' ')

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23

In [ ]:
data

In [18]:
data = [1,2,0,3,3,0,1,2,0,5,6,7,8,2,1]
for i in data:
    if i==0:
        continue
    print(i , end=' ')

1 2 3 3 1 2 5 6 7 8 2 1

In [20]:
# add all values entered by user till he types 0

total = 0
print("Enter 0 to stop the loop")
for i in range(100):
    value = int(input("Enter a vlaue"))
    if value == 0:
        break
    total += value #add the value to total
print(f"Total = {total}")

Enter 0 to stop the loop
Total = 34456

In [1]:
nums=[2,5,8,11,15]
for n in nums:
    print(n)
print("loop completed")

2
5
8
11
15
loop completed

In [4]:
nums=[2,5,8,11,15]
for n in nums:
    if n>10:
        break
    print(n)
print("loop completed")

2
5
8
loop completed

In [11]:
value=int(input("enter breakpoint"))
nums=[1,2,3,4,5,6,11,15,20,25]
for n in nums:
    if value>n:
        print("loop broken")
        break
else:
    print("loop completed")

loop broken

In [21]:
num=int(input("enter a number"))
for n in range(2,num):
    if num%n==0:
        print(f"{num} not a prime number")
        break

49 not a prime number

In [23]:
num=int(input("enter a number"))
for n in range(2,num):
    if num%n==0:
        print(f"{num} not a prime number")
        break
else:
    print(f"{num} is a prime number")

23 is a prime number

In [25]:
x=50 
while x>0:
    print(x,end="")
    x-=5

5045403530252015105

In [3]:
x=[1,5,10]
x.insert(1,2)
print(x)
x.insert(2,3)
print(x)
x.insert(4,4)
print(x)

[1, 2, 5, 10]
[1, 2, 3, 5, 10]
[1, 2, 3, 5, 4, 10]

In [2]:
books=[]
books.append("the way of kings")
print(books)
books.append("the name of wind")
books.append("the final empire")
books.append("the hero of ages")
books.append("the wall of ascension")
print(books)

['the way of kings']
['the way of kings', 'the name of wind', 'the final empire', 'the hero of ages', 'the wall of ascension']

In [3]:
colors=["red","green","blue","yellow"]
colors.extend(["black","pink"])
print(colors)
colors1=["cyan","magenta","pink"]
colors.extend(colors1)
print(colors)

['red', 'green', 'blue', 'yellow', 'black', 'pink']
['red', 'green', 'blue', 'yellow', 'black', 'pink', 'cyan', 'magenta', 'pink']

In [5]:
a=[]
for i in range(1,11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
movies=[]
for i in range(6):
    movie=input("enter the movie name:")
    movies.append(movie)
print(movies)

['rrr', 'errr', 'rttt', 'r', '', '']

In [7]:
x=[]#Empty
x=list()#empty
print(type(x),x)
y=[1,2,3,4,5]# Direct Initialization
print(y)
fruits=[]
fruits.append('Apple')
fruits.append('Banana')
fruits.append('Mango')
print(fruits)
x=[1,2,3]
y=[4,5,6]
z=x+y #Concatinate list
print(z)
#list of Duplicates
a=[1]*10
print(a)
b=[1,2]*5
print(b)
c=a*2
print(a)
print(c)
#Displaying
print(a)
#displaying Single item at a time
for item in a:
    print(item,end="")
#single element using index
print(fruits[0])
print(fruits[1],fruits[2])

<class 'list'> []
[1, 2, 3, 4, 5]
['Apple', 'Banana', 'Mango']
[1, 2, 3, 4, 5, 6]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1111111111Apple
Banana Mango

In [9]:
students=["Bhargav","Sameer","Yaswanth","Vamsi","Ram","Ajay","Balaji","Abhi","Ruhi","Varsha","Sumithra","Jyoshna","Meghana","Anjali","Sirisha","Sahiti","Geetha"]
print(students)
print(students[9])
students.append("Sampath")
print(students)
students.pop(4)
print(students)

['Bhargav', 'Sameer', 'Yaswanth', 'Vamsi', 'Ram', 'Ajay', 'Balaji', 'Abhi', 'Ruhi', 'Varsha', 'Sumithra', 'Jyoshna', 'Meghana', 'Anjali', 'Sirisha', 'Sahiti', 'Geetha']
Varsha
['Bhargav', 'Sameer', 'Yaswanth', 'Vamsi', 'Ram', 'Ajay', 'Balaji', 'Abhi', 'Ruhi', 'Varsha', 'Sumithra', 'Jyoshna', 'Meghana', 'Anjali', 'Sirisha', 'Sahiti', 'Geetha', 'Sampath']
['Bhargav', 'Sameer', 'Yaswanth', 'Vamsi', 'Ajay', 'Balaji', 'Abhi', 'Ruhi', 'Varsha', 'Sumithra', 'Jyoshna', 'Meghana', 'Anjali', 'Sirisha', 'Sahiti', 'Geetha', 'Sampath']

# list methods 
* adding elements
1. append() ->add one element to the end of list
2. insert() ->add one element to the specific position 
3. extend() ->append multiple items in list

* removing elements 
1. remove() -> remove the first occurance of a value 
2. pop()-> remove and return an element from ana index 
3. clear()-> remove all the elements from the list

* utility methods 
1. count()-> count occurance ofa an element 
2. index()-> find index of an element (first only)
3. sort()-> sort of the list 
4. reverse ()-> reverse the list 
5. copy()-> return a shallow copy of the list

In [16]:
books=['hero of ages','well of acsension','warbreaker',
       'nightblood','the final empire',
       'the way of kinds',
       'oathbringer','wind and truth',
       'harry porter and goblet of fire'
       ,'new moon','king of thrones']

In [17]:
print("size of books list ",len(books))

size of books list  11

In [18]:
books.remove("new moon")
print(books)

['hero of ages', 'well of acsension', 'warbreaker', 'nightblood', 'the final empire', 'the way of kinds', 'oathbringer', 'wind and truth', 'harry porter and goblet of fire', 'king of thrones']

In [19]:
if "oathbringer" in books :
    books.remove("oathbringer")
print(books)

['hero of ages', 'well of acsension', 'warbreaker', 'nightblood', 'the final empire', 'the way of kinds', 'wind and truth', 'harry porter and goblet of fire', 'king of thrones']

In [20]:
books.pop(3)

'nightblood'

In [21]:
print(books)
print(len(books))

['hero of ages', 'well of acsension', 'warbreaker', 'the final empire', 'the way of kinds', 'wind and truth', 'harry porter and goblet of fire', 'king of thrones']
8

In [22]:
books.pop()

'king of thrones'

In [27]:
languages=['c','python','kotlin','java','dart','go','c++','c#','html','javascript','scala','rust','mojo','assembly']
numbers=['12','56','23','67','13',
         '23','12','56','23','56',
         '12','34','23','23','12',
         '34','34','23','53','92']
data=[1,'apple',2,'avacado',3,'apricot']

In [29]:
numbers.count('12')

4

In [31]:
print(numbers.count('1'))
print(numbers.count('23'))
print(numbers.count('56'))

0
6
3

In [32]:
languages.index('c#')

7

In [34]:
print(languages.index('c'))
print(languages.index('java'))
print(languages.index('python'))

0
3
1

In [36]:
print("original",languages)
languages.sort()
print("sorted",languages)
languages.sort(reverse=True)
print("sorted in reverse",languages)

original ['assembly', 'c', 'c#', 'c++', 'dart', 'go', 'html', 'java', 'javascript', 'kotlin', 'mojo', 'python', 'rust', 'scala']
sorted ['assembly', 'c', 'c#', 'c++', 'dart', 'go', 'html', 'java', 'javascript', 'kotlin', 'mojo', 'python', 'rust', 'scala']
sorted in reverse ['scala', 'rust', 'python', 'mojo', 'kotlin', 'javascript', 'java', 'html', 'go', 'dart', 'c++', 'c#', 'c', 'assembly']

In [37]:
print("original",data)
data.reverse()
print("reversed",data)

original [1, 'apple', 2, 'avacado', 3, 'apricot']
reversed ['apricot', 3, 'avacado', 2, 'apple', 1]

In [3]:
name="vijay deenanth chavhan"
fname=name[:5]
mname=name[6:15]
lname=name[-7:]
print(fname,mname,lname)

vijay deenanth  chavhan

In [4]:
x=[1,2,3,4,6,7,9,11,13]
for item in x[::-1]:
    print(item)

13
11
9
7
6
4
3
2
1

In [7]:
a=[1,2,3]
a[:]       #get all element

[1, 2, 3]

In [8]:
x=[1,2,3,4,5]
ans=x[2:]+x[:2]
print(x,ans)

[1, 2, 3, 4, 5] [3, 4, 5, 1, 2]

In [9]:
x=[1,3,4,5]
x2=[]
for i in x:
    s=i*2
    x2.append(s)
print(x,x2)

[1, 3, 4, 5] [2, 6, 8, 10]

In [10]:
x=[4,8,12,16]
x3=[]
for i in x:
    x3.append(i//2)
print(x,x3)

[4, 8, 12, 16] [2, 4, 6, 8]

In [11]:
x=[1,2,3]
y=[4,5,6]
xy=[]
for i,j in zip(x,y):
    xy.append(i+j)
print(x,y,xy,sep='\n')

[1, 2, 3]
[4, 5, 6]
[5, 7, 9]

In [12]:
z=[2,3,4]
zsqr=[]
for i in z:
    zsqr.append(i**2)
print(zsqr)

[4, 9, 16]

In [13]:
z=[2,3,4]
zsqr=[]
for i in z:
    zsqr.append(i**3)
print(zsqr)

[8, 27, 64]

newlist=[operation for loop]
example:
x2=[i**2 for loop]
y3=[a**3 for a in y]
condition baased 
newlist=[operation loop condition] 
example 
xeven =[i for i in if i%2=0]
songs=[file for file in data if file.ends with ("mp3")]

MAPPING
-> apply operation on data 
filtering 
->apply filter on data

In [1]:
my_tupple=(1,2,3)
print(my_tupple)

(1, 2, 3)

In [5]:
my_tuple=(1,"hello",3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [7]:
my_tuple=("mouse",[8,4,6],[1,2,3])
print(my_tuple)

('mouse', [8, 4, 6], [1, 2, 3])

In [8]:
my_tuple=3,4.6,'apple'
print(my_tuple)

(3, 4.6, 'apple')

In [9]:
my_tuple=('p','q','r','s','t','m')
print(my_tuple[0])
print(my_tuple[5])

p
m

In [11]:
my_tuple=("mouse",[8,4,6],(1,2,3))
print(my_tuple[0][3])
print(my_tuple[1][1])

s
4

In [ ]:
my_tuple=('e','r',)

In [12]:
print((1,2,3,)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [13]:
print(("repeat",)*3)

('repeat', 'repeat', 'repeat')

In [15]:
my_tuple=('a','b','c','d','e')
print(my_tuple.count('d'))
print(my_tuple.index('c'))

1
2