In [1]:
var = "name"
print(var)

name

In [1]:
var = "name"
print(var)

name

In [1]:
for i in range (1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

range(5)  0 1 2 3 4
raange(6) 0 1 2 3 4 5
range(10,14) 10 11 12 13
range(2,6) 2 3 4 5 
range(1,10,2) 1 3 5 7 9

In [2]:
for i in range(0,15,5):
    print(i)

0
5
10

In [3]:
for i in range (10,0,-2):
    print(i)

10
8
6
4
2

write a program to print all even numbers between 100 to 200 ?

In [4]:
for i in range (100,201,2):
    print(i)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [7]:
colors=['red','blue','green']
print (colors)

['red', 'blue', 'green']

In [9]:
# formated output
for colors in colors :
    print (colors)

red
blue
green

write the program to print all the od  numbers from 1 to 100 ?

In [11]:
for i in range (1,100,2):
    print (i,end=",")

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [ ]:
-