# string utility method

In [1]:
s= "once upon a time"
s2=s. replace ('once','twice')
print (s,s2)
s3=s.replace('e','i')
print(s3)

once upon a time twice upon a time
onci upon a timi

# replace for removing content

In [7]:
data ='py#t#h#o#n'
cleared_data=data.replace('#','')
print(data,cleared_data,sep='\n')

py#t#h#o#n
python

# find/index

In [8]:
m="alpine mountain range"
print(m.find('mountain'))
print(m.find('lion'))
print(m.find('pine'))
print(m.find('i'))
print(m.find('i',4))

7
-1
2
3
13

In [20]:
quote= """life before death
courage before despair ,
journey before destination"""
word=quote.split()
print (quote)
print(word)

life before death
courage before despair ,
journey before destination
['life', 'before', 'death', 'courage', 'before', 'despair', ',', 'journey', 'before', 'destination']

In [21]:
addr = ['MBU','Sree sainath nagar','Tirupati','AP','517102']
addr_str = ",".join(addr)
print(addr,addr_str,sep='\n')
addr2 = '-'.join(addr)
addr3 = '\n'.join(addr)
addr4 = 'What'.join(addr)
print(addr2,addr3,addr4,sep='\n')

['MBU', 'Sree sainath nagar', 'Tirupati', 'AP', '517102']
MBU,Sree sainath nagar,Tirupati,AP,517102
MBU-Sree sainath nagar-Tirupati-AP-517102
MBU
Sree sainath nagar
Tirupati
AP
517102
MBUWhatSree sainath nagarWhatTirupatiWhatAPWhat517102

# functions and modules
function are two times user defined and predefined

In [7]:
n=input("enter the value")
if int(n)%2==0:
    print('even')
else:
    print('odd')

even

In [1]:
def total(a,b,c):
    ans = a + b +c
    print(f'total =(ans)')

In [2]:
def msg():
    print("hello")

In [5]:
def mul(a,b):
    print(a*b)

In [8]:
mul(2,3)
mul(15, 175)
mul(3,15)
mul()
mul(10)
mul('a','b')

6
2625
45

TypeError: mul() missing 2 required positional arguments: 'a' and 'b'

In [12]:
import math
def hyp(p,b):
    ans=math.sqrt(p**2 + b**2)
    return ans

In [14]:
hyp(10,5)

11.180339887498949

In [21]:
def is_even(num):
    if num%2 == 0:
        return True
    else:
        return False

In [22]:
is_even(54)

True

In [24]:
x = int(input("enter a even number"))
if is_even(x):
    print('Good Job')
else:
    print("start from nursery")

Good Job